@font-face {
    font-family: 'PingFangSC-Medium';
    src: url('./PingFang Medium.ttf');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'PingFangSC-Semibold';
    src: url('./PingFang-SC-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSCRegular';
    src: url('./PingFangSCRegular.ttf');
    font-weight: normal;
    font-style: normal;
}
